.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
  padding: 0px 60px;
}
.navbar-logo-container {
  width: 150px;
}
.logo-img {
  width: 100%;
}
.nav-items ul {
  display: flex;
  gap: 40px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  list-style: none;
}

.login-btn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
}

.food-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}
.food-card-img-container {
  width: 110px;
  text-align: center;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.food-card-img {
  width: 100%;

  border-radius: 50%;
}

.card-image-container {
  width: 200px;
}
.card-img {
  width: 100%;
  height: 150px;
  border-radius: 15px;
}
.card-ratings {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card-ratings i {
  color: green;
}
.card-ratings p {
  font-size: 16px;
  /* margin: 8px; */
  font-weight: 600;
}
.card-content-container h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  /* padding: 18px; */
  width: 280px;
  font-weight: 600;
  color: rgb(36, 35, 35);
}
.card-list-items ul {
  display: flex;
  list-style: none;
  justify-content: left;
  width: 200px;
  margin-top: -10px;
  margin-left: -40px;
  gap: 10px;
  flex-wrap: wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.cuisines{
  font-size: 16px;
  font-family: sans-serif;
  color: #837c7c;
}
.area-name{
  font-size: 16px;
  font-family: sans-serif;
  color: #837c7c;
}

.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px 90px;


}
.search-box {
  margin-top: 90px;
  margin-left: 200px;
}
.input-box {
  padding: 10px 10px;
  width: 60%;
  box-sizing: border-box;
}
.search-btn {
  padding: 10px 60px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
}
